---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Demo from "../components/Demo.astro";
import Features from "../components/Features.astro";
import Install from "../components/Install.astro";
import Ecosystem from "../components/Ecosystem.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main>
    <Hero />
    <Demo />
    <Features />
    <Install />
    <Ecosystem />
  </main>
  <Footer />
</Layout>
